@media (max-width: 767px) {

  .nav__div1 h1 {
    font-size: 30px;
  }
  .navbar__menu {
    display: flex;
  }

  .navbar__ul{
    background: rgba(255, 192, 203, 0.875);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 60px 0;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    z-index: 1000;
    transition: all 0.5s;
    transform: translateX(100%);
  }

  .visible {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
  }

  .nav__div2 ul li{
    width: 100%;
    height: 100%;
  }

  .nav__div2 ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }

  .mainGrid {
    grid-template-columns: 1fr;
  }
  .divImg img {
    width: 70%;
  }

  .divDesc {
    grid-column: 1 / 2;
    font-size: 18px;
    line-height: 25px;
  }

  .containerDiv{
    width: 95%;
  }
}